<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<div class="nav">
  <ul>
    <li><img src="Data-Heroes.png"></li>
    <li>Reports</li>
    <li>Notifications</li>
    <li>Settings</li>
    <li>Account</li>
  </ul>
</div>
<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>Welcome to Data Sergeant</h1>
  </div>

  <p>Click on the button for a surprise.</p>

  <button onClick="showPicture()" class="btn btn-dark">Click me</button>

  <div id="image"></div>
  
</body>

</html>